/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"); */


@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

::selection {
    color: yellow;
    background-color: black;
}

.nocopy {
    user-select: none;
}

.bumbum {
    position: relative;
    line-height: 1.2;
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 5px 5px 10px black;
    z-index: 2;
    box-sizing: border-box;
}

.pogger {
    display: flex;
    justify-content: space-between;
}

@keyframes animate3D {
    0% {
        transform: perspective(500px) rotateY(0deg);
    }

    50% {
        transform: perspective(500px) rotateY(180deg);
    }

    100% {
        transform: perspective(500px) rotateY(360deg);
    }
}

.spinny {
    position: relative;
    width: 340px;
    transform-style: preserve-3d;
    display: block;
    justify-items: center;
    align-items: center;
    animation: bouncy 2s ease infinite;
}

.bestie-black {
    color: yellow;
}

.bestie-black::selection {
    color: white;
    background-color: black;
}

.bestie-yellow {
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: yellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
    transition: 2.25s;
}

::-webkit-scrollbar-thumb:active {
    background: rgb(252, 252, 78);
    transition: 2.25s;
}



body,
html {
    min-height: 100vh;
    height: 100%;
    /* background: linear-gradient(#3073b2, #7fbad4, #b6cfda); */
    background: linear-gradient(to bottom right, black, black, yellow, yellow);
    background-attachment: fixed;
    /* cursor: url("cursor/Help\ Select.cur"), auto; */

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.lm-button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: yellow;
    color: black;
    font-size: 18px;
    font-weight: 900;
    box-shadow: 1px 1px 5px black;
    transition: 0.3s;
}

.lm-button:hover {
    height: 55px;
    width: 155px;
    box-shadow: 1px 1px 15px yellow;
    transition: 0.3s;
}

.ft-button {
    background-color: yellow;
    color: black;
    height: 100px;
    width: 50%;
    border-radius: 50px;
    font-size: 50px;
    font-weight: 500;
    transition: 0.3s;
    margin-left: 25%;

}

.ft-button:hover {
    height: 100px;
    width: 50%;
    border-radius: 50px;
    font-size: 50px;
    box-shadow: 1px 1px 15px yellow;
    transition: 0.3s;
}

.text-underline:hover {
    text-decoration: underline;
}

.prlxbgimg {
    position: relative;
    opacity: 0.35;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1 {
    background-image: url("parallaximages/buildingadrawing.png");
    min-height: 100%;
}

.bgimg2 {
    background-image: url("parallaximages/buildinga.jpg");
    min-height: 100%;
}

.bgimg3 {
    background-image: url("parallaximages/bldgafrontdrawing.png");
    min-height: 100%;
}

.bgimg4 {
    background-image: url("parallaximages/bldgafront.png");
    min-height: 100%;
}

.bgimg5 {
    background-image: url("parallaximages/romhouse.jpg");
    min-height: 100%;
}

.txt-box {
    width: 100%;
    background: linear-gradient(to bottom right, #3073b2, #7fbad4);
    height: 250px;
    padding: 50px 80px;
    text-align: justify;
    text-align: center;
}

#bestieLogo {
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 15px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    transition: 0.65s;
    visibility: visible;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.logofied:hover {
    color: yellow;
}

header .logofied {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Navigation Bar*/

nav {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 998;
    transition: 0.35s;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
}

nav ul li a:hover {
    color: yellow;
    transition: 0.2s;
}

nav ul li a.active {
    background: black;
    color: yellow;
}

nav.nav-bg {
    background: rgba(0, 0, 0, 0.80);
    transition: 0.35s;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#3073b2, #7fbad4, #b6cfda);
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    display: grid;
    bottom: -20px;
    opacity: 0;
    text-align: center;
    justify-content: center;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

#about {
    padding: 10px;
}

#features {
    padding: 10px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

@keyframes color {
    0% {}

    0% {}

    0% {}

    0% {}
}

.content {
    position: absolute;
    color: white;
    font-size: 30px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.sticky+.content {
    padding-top: 102px;
}

.abtsect {
    padding-top: 100px;
    display: block;
    /* background-image: linear-gradient(to bottom right, yellow, black);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;  */
    /* background-image: linear-gradient(to bottom right, #3073b2, #89C7E7, #ADD8E5, #C4EBF1, #FFFFC2, #FFF684, #FFD301, yellow);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  */
}

.featsect {
    padding-top: 100px;
    /* background-image: linear-gradient(-45deg, #FFFF33, #CCCE2D, #999D26, #676D20, #343C19, #010B13);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite; */
}

.abt-text {
    font-size: 200%;
    color: white;
    word-wrap: normal;
    padding-left: 300px;
    padding-right: 300px;
    line-height: 1.2;
    text-shadow: 1px 1px 16px black;
    text-align: center;

}

.le-features {
    width: 100%;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    z-index: 997;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: yellow;
    font-size: 20px;
    text-shadow: 1px 1px 15px black;
    background: rgba(0, 0, 0, 0.80);
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.feature-card {
    background: rgb(165, 163, 44);
    color: black;
    height: 75vh;
    width: 50vh;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.371);
}

.feature-card p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}

/* @keyframes bouncy {
    0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
} */